<div id="about_fullpage">
    <h1 class="about_header">What is Ruby Cafe all About?</h1>
    <br>
    <div>
        <div id="about_image1"></div>
        <div class="about_div">
            <h2 class="about_header">What is our goal?</h2> Ruby Cafe is a newly opened american diner style cafe striving to serve to you the best food and quality drinks! Our ingredients we used are prepared fresh everyday guaranteed!We care deeply about the impression you have gotten after visiting here and trying us out so we love feedback. Because we are new to the neighborhood we are working twice as hard as the other competitions. Zagat.com has us listed as one of the most anticipated resturant openings of 2018 and rated our cleaniness as a contender for top 5 in the whole U.S.
        </div>
    </div>
    <div>
        <div class="about_div1">
            <h2 class="about_header">Where we come from</h2> We all originate from philadelphia and surrounding regions. We are locals just like you! Everyone here has years of experience in the resturant industry and our reowned Chefs have all won award winning trophies and medals. With our vast knowledge of how to run a successful business and honed experiences we guarantee you won't regret.
        </div>
        <div id="about_image2"></div>
    </div>
    <div>
        <div id="about_image3"></div>
        <div class="about_div">
            <h2 class="about_header">Final Words</h2> Ruby Cafe is commited to feeding the neighborhood in which we live and eat through the food we offer and most importanly, our community. We understand the benefits of healthy nutrional food and that all food standards are met while ensuring high food quality.
        </div>
    </div>
</div>
<br>