<h2>Contact Us</h2>

<form method="get" action="/thanks">
	<div>Email: <input type="text" name="email" ></div>
	<div>Subject: <input type="text" name="subject" > </div>
	<div>Content: <input type="text" name="content" ></div>
	<br>
	<input type="submit" name="" value="Send Email">
</form>

<h3>Phone Number: (267)-123-6456</h3>

<div>
<h3> Location: 123 Best Street Philadelphia Pa 19123</h3>
<div id="picture_of_cafe"></div>
</div>