<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	<div class = 'title'>
		<h2>Ruby Cafe</h2>
	</div>
	<nav class = 'navbar'>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/menu">Menu</li>
			<li><a href="/reservations">Reservations</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>

	<div class="main"></div><%= yield %></div>


	<footer>@CopyRight Ruby Cafe 2018</footer>	

	<script type="text/javascript" src="main.js"></script>
</body>