<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	<h2>Ruby Cafe</h2>
	<nav>
		<ul>
			<li>Home</li>
			<li>About</li>
			<li>Menu</li>
			<li>Reservations</li>
			<li>Contact</li>
		</ul>
	</nav>

	<div class="main"></div><%= yield %></div>

	<footer>@CopyRight Ruby Cafe 2018</footer>
	<script type="text/javascript" src="main.js"></script>
</body>