<h1> Ruby Diner Menu</h1>


<ul>
<h4>BREAKFAST</h4>
<li>Morning Code Speacial - Two eggs any style</li>
<li>Cheesesteak Omelettet</li>
<li>Intensive Care - 4 eggs any style with a 10oz Sirlion Steak</li>
<li>Breakfast Burger</li>
<li>Meat Lovers Omelettet</li>
<li>Norwegian Omelettet<li>

<h4>LUNCH</h4>
<li>SASS Burger</li>
<li>Bacon Cheddar Burger</li>
<li>Mings melt burger</li>
<li>Classic BLT</li>
<li>Rudy on rails turkey club</li>
<li>CSS Grilled Cheese</li>
<li>Boston Pearl Hot Dogs</li>
<li>Mikes BBQ Wings</li>

<h4>Dinner</h4>


