<h1 class='header'>Ruby Diner Menu</h1>



<h4 class='list breakfast'>BREAKFAST</h4>

</ul>
<li class="list">Morning Code Special - Two eggs any style $5.99</li>
<li class="list">Cheesesteak Omelettet $7.99</li>
<li class="list">Intensive Care - 4 eggs any style with a 10oz Sirlion Steak $17.99</li>
<li class="list">Breakfast Burger $5.99</li>
<li class="list">Meat Lovers Omelettet $6.05</li>
<li class="list">Norwegian Omelettet $7.99<li>
</ul>

<h4 class='list lunch'>lunch</h4>

<li class = "list">SASS Burger $13.99</li>
<li class = "list">Bacon Cheddar Burger $10.00</li>
<li class = "list">Mings cheese melt burger $10.00</li>
<li class = "list">Classic BLT $7.99</li>
<li class = "list">Rudy on rails turkey club $6.99</li>
<li class = "list">CSS Grilled Cheese $4.99</li>
<li class = "list">Boston Pearl Hot Dogs $6.99</li>
<li class = "list">Mike's 45 BBQ Wings special $17.99</li>

<h4 class='list dinner'>DINNER</h4>

<li class = "list" >Grilled Seasoned Salmon $15.99</li>
<li class = "list" >Chicken Parm $12.99</li>
<li class = "list" >Marinated Turkey Tips $12.99</li>
<li class = "list" >Jordyn's Buffalo Mac & Cheese $13.99</li>
<LI class = "list" >Half Roasted Chicken $14.99</li>
<li class = "list" >Homemade Pot Pie $12.99</li>
<li class = "list" >Pork Chop $15.99</li>
<li class = "list" >Spaghetti & Meatballs</li>
<li class = "list" >Shrimp Scampie $17.99</li>
<li class =	"list">Grilled Chicken $12.99</li>


