
<div class="menu-body">
# <!-- Menu Start: appetizers -->

<div class="menu">

<div class="menu-item">
<div class="menu-item">
#    <!-- Breakfast: --> 
    </div>
    <div class="menu-item-price">
    $25
     </div>
    </div>

    <div class="menu-item">
<div class="menu-item">
    
# <-- !Lunch: -->
    </div>
    <div class="menu-item-price">
    <div class="SASS Burger with CSS fries - $7.00">
    <div class="South Phill wrap" - 
    $25
     </div>
    </div>
    
    # <--!Dinner: -->
    <div class="menu-item">
<div class="menu-item">
    
    </div>
    <div class="menu-item-price">
    $25
     </div>
    </div>