.about_header {
    text-align: center;
    font-family: $font-family;
    color: #ff4d4d;
    font-size: 27pt;
}

#about_fullpage {
    text-align: center;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(../images/eathealthy.jpg);
    background-size:cover;

}


.about_div {
    display: inline-block;
    margin: 10px auto;
    padding: 5px;
    width: 49%;
    vertical-align: top;
    font-size: 18pt;
    color: $color;
    font-family: $font-family;
    opacity: 2.0;

}

.about_div1 {
    @extend .about_div;
    width: 40%;

}

#about_image2 {
    display: inline-block;
    width: 49%;
    height: 45%;
    background-image: url(../images/whoweare.jpg);
    background-size: cover;
}

