.header {
    font-family: $font-family;
    text-align: center;
    margin: 20px;
    font-size: 40px;
}


.list {
	font-family: $font-family;
    text-align: center;
    margin: 20px;
    font-size: 28px;
}

.breakfast {
	background-color: red
}


.lunch {
	background-color: red
}

.dinner {
	background-color: red
}



